<mat-card>
    <mat-card-title>My Heroes</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Hero Name" #heroName>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="add(heroName.value); heroName.value=''">Add</button>
    </mat-card-actions>
</mat-card>

<mat-divider></mat-divider>

<mat-card>
  <mat-chip-list>
    <mat-chip color="primary" selected *ngFor="let superhero of superheroes | async">
      <a routerLink="/detail/{{superhero.id}}">
        {{superhero.name}}
      </a>
      <mat-icon matChipRemove (click)="delete(superhero)">
        delete hero
      </mat-icon>
    </mat-chip>
  </mat-chip-list>
</mat-card>
